<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecdata.cmp.iaas.mapper.IaasVirtualMachineDiskMapper">
    <resultMap id="BaseResultMap" type="com.ecdata.cmp.iaas.entity.IaasVirtualMachineDisk">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <!--<result column="tenant_id" property="tenantId"/>-->
        <result column="vm_id" property="vmId"/>
        <result column="disk_name" property="diskName"/>
        <result column="disk_key" property="diskKey"/>
        <result column="disk_type" property="diskType"/>
        <result column="disk_total" property="diskTotal"/>
        <result column="disk_used" property="diskUsed"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
                id,
                tenant_id,
                vm_id,
                disk_name,
                disk_key,
                disk_type,
                disk_total,
                disk_used,
                status,
                remark,
                create_user,
                create_time,
                update_user,
                update_time,
                is_deleted
    </sql>

    <select id="queryVMDiskBy" resultMap="BaseResultMap">
        select * from iaas_virtual_machine_disk where is_deleted=0
        and disk_key=#{key}
    </select>
</mapper>