<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecdata.cmp.iaas.mapper.apply.IaasApplyMemoryDiskMapper">
    <resultMap id="BaseResultMap" type="com.ecdata.cmp.iaas.entity.apply.IaasApplyMemoryDisk">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="config_id" property="configId"/>
        <result column="content" property="content"/>
        <result column="memory_disk" property="memoryDisk"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
                id,
                 tenant_id,
                config_id,
                memory_disk,
                content,
                create_user,
                create_time,
                update_user,
                update_time,
                is_deleted
    </sql>
    <select id="queryDiskByConfigId" resultType="java.lang.Long">
        select id from iaas_apply_memory_disk
        where is_deleted=0 and config_id=#{configId};
    </select>
</mapper>