<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecdata.cmp.iaas.mapper.apply.IaasApplyServiceSecurityResourcesMapper">
    <resultMap id="BaseResultMap" type="com.ecdata.cmp.iaas.entity.apply.IaasApplyServiceSecurityResources">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId" />
        <result column="config_id" property="configId"/>
        <result column="is_das" property="isDas" />
        <result column="das" property="das" />
        <result column="is_ssl_vpn" property="isSslVpn" />
        <result column="ssl_vpn" property="sslVpn" />
        <result column="is_edr" property="isEdr" />
        <result column="edr" property="edr" />
        <result column="is_log_audit" property="isLogAudit" />
        <result column="log_audit" property="logAudit" />
        <result column="is_loophole_scan" property="isLoopholeScan" />
        <result column="loophole_scan" property="loopholeScan" />
        <result column="is_sinfors" property="isSinfors" />
        <result column="sinfors" property="sinfors" />
        <result column="is_sinfors_check" property="isSinforsCheck" />
        <result column="sinfors_check" property="sinforsCheck" />
        <result column="is_prevent_change" property="isPreventChange" />
        <result column="is_next_nfw" property="isNextNfw" />
        <result column="next_nfw" property="nextNfw" />
        <result column="next_nfw_num" property="nextNfwNum" />
        <result column="is_web_nfw" property="isWebNfw" />
        <result column="web_nfw" property="webNfw" />
        <result column="web_nfw_num" property="webNfwNum" />
        <result column="is_ips" property="isIps" />
        <result column="ips" property="ips" />
        <result column="ips_num" property="ipsNum" />
        <result column="is_ad" property="isAd" />
        <result column="ad" property="ad" />
        <result column="ad_num" property="adNum" />
        <result column="is_sinfor_ac" property="isSinforAc" />
        <result column="sinfor_ac" property="sinforAc" />
        <result column="sinfor_ac_num" property="sinforAcNum" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="is_antivirus" property="isAntivirus"/>
        <result column="is_bastion_host" property="isBastionHost"/>
        <result column="is_security_platform" property="isSecurityPlatform"/>
    </resultMap>

    <sql id="Base_Column_List">
                id,
                tenant_id,
                config_id,
                is_das,
                das,
                is_ssl_vpn,
                ssl_vpn,
                is_edr,
                edr,
                is_log_audit,
                log_audit,
                is_loophole_scan,
                loophole_scan,
                is_sinfors,
                sinfors,
                is_sinfors_check,
                sinfors_check,
                is_prevent_change,
                is_next_nfw,
                next_nfw,
                next_nfw_num,
                is_web_nfw,
                web_nfw,
                web_nfw_num,
                is_ips,
                ips,
                ips_num,
                is_ad,
                ad,
                ad_num,
                is_sinfor_ac,
                sinfor_ac,
                sinfor_ac_num,
                create_user,
                create_time,
                update_user,
                update_time,
                is_deleted
    </sql>
</mapper>