<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecdata.cmp.iaas.mapper.IaasVirtualMachineRightMapper">
    <resultMap id="BaseResultMap" type="com.ecdata.cmp.iaas.entity.IaasVirtualMachineRight">
        <result column="id" property="id"/>
        <result column="vm_id" property="vmId" />
        <result column="relate_id" property="relateId" />
        <result column="type" property="type" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <sql id="Base_Column_List">
                id,
               vm_id,
                relate_id,
                type,
                create_user,
                create_time
    </sql>
</mapper>