<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecdata.cmp.iaas.mapper.IaasTemplateVirtualMachineComponentScriptMapper">

    <resultMap id="BaseResultMap" type="com.ecdata.cmp.iaas.entity.IaasTemplateVirtualMachineComponentScript">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="script_id" property="scriptId"/>
        <result column="vm_component_id" property="vmComponentId"/>
        <result column="script_name" property="scriptName"/>
        <result column="script_type" property="scriptType"/>
        <result column="content" property="content"/>
        <result column="remark" property="remark"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
                id,
                tenant_id,
                script_id,
                vm_component_id,
                script_name,
                script_type,
                content,
                remark,
                create_user,
                create_time,
                update_user,
                update_time,
                is_deleted
    </sql>

    <resultMap id="componentScriptVOResultMap" type="com.ecdata.cmp.iaas.entity.dto.IaasTemplateVirtualMachineComponentScriptVO">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="script_id" property="scriptId"/>
        <result column="vm_component_id" property="vmComponentId"/>
        <result column="script_name" property="scriptName"/>
        <result column="script_type" property="scriptType"/>
        <result column="content" property="content"/>
        <result column="remark" property="remark"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="queryComponentScripts" resultMap="componentScriptVOResultMap">
        select * from iaas_template_virtual_machine_component_script
        where is_deleted=0 and vm_component_id=#{componentId}
    </select>

    <delete id="deleteByVmComponentId">
        delete from iaas_template_virtual_machine_component_script
        where vm_component_id=#{vmComponentId}
    </delete>

    <select id="queryTemplateScripsByComponentId" resultType="com.ecdata.cmp.iaas.entity.dto.catalog.IaasCatalogVirtualMachineComponentScriptVO">
        select * from iaas_template_virtual_machine_component_script
        where is_deleted=0 and vm_component_id=#{componentId}
    </select>
</mapper>