<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecdata.cmp.iaas.mapper.TempGroupOrganizationResourceUsedMapper">
  <resultMap id="BaseResultMap" type="com.ecdata.cmp.iaas.entity.TempGroupOrganizationResourceUsed">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="bare_metal_used" jdbcType="INTEGER" property="bareMetalUsed" />
    <result column="bare_metal_usage_rate" jdbcType="DOUBLE" property="bareMetalUsageRate" />
    <result column="virtual_machine_used" jdbcType="INTEGER" property="virtualMachineUsed" />
    <result column="virtual_machinel_usage_rate" jdbcType="DOUBLE" property="virtualMachinelUsageRate" />
    <result column="storage_used" jdbcType="INTEGER" property="storageUsed" />
    <result column="storage_usage_rate" jdbcType="DOUBLE" property="storageUsageRate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
  </resultMap>
</mapper>