<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecdata.cmp.apigateway.mapper.LogValidityMapper">


<select id="isExist" parameterType="long" resultType="long">
    SELECT count(1)
    FROM log_validity
    WHERE user_id = #{userId}
</select>

<select id="getTime" parameterType="com.ecdata.cmp.apigateway.entity.LogValidity" resultType="long">
    SELECT
      count(1)
    FROM
      log_validity
    WHERE
      access_token = #{accessToken}
    AND
      user_id = #{userId}
    AND
      TIMESTAMPDIFF(SECOND,log_validity.update_time,now()) &lt;= 300
</select>

    <insert id="saveLogValidity" parameterType="com.ecdata.cmp.apigateway.entity.LogValidity">
        INSERT   INTO log_validity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test='null != id'>
                id,
            </if>
            <if test='null != userName'>
                user_name,
            </if>
            <if test='null != userId'>
                user_id,
            </if>
            <if test='null != accessToken'>
                access_token,
            </if>
            <if test='null != refreshToken'>
                refresh_token,
            </if>
            <if test='null != validityTime'>
                validity_time,
            </if>
            <if test='null != createTime'>
                create_time,
            </if>
            <if test='null != updateTime'>
                update_time
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test='null != id'>
                #{id},
            </if>

            <if test='null != userName'>
                #{userName},
            </if>
            <if test='null != userId'>
                #{userId},
            </if>
            <if test='null != accessToken'>
                #{accessToken},
            </if>
            <if test='null != refreshToken'>
                #{refreshToken},
            </if>
            <if test='null != validityTime'>
                #{validityTime},
            </if>
            <if test='null != createTime'>
                NOW(),
            </if>
            <if test='null != updateTime'>
                NOW()
            </if>
        </trim>
    </insert>

    <update id="updateLogValidity" parameterType="com.ecdata.cmp.apigateway.entity.LogValidity">
        update log_validity
        set update_time = NOW(),access_token = #{accessToken},
             refresh_token = #{refreshToken},validity_time = #{validityTime}
        WHERE user_id = #{userId}
    </update>

</mapper>